@use '../core/variables' as *;
@use '../core/mixins' as *;

//* - [ Cookies - accept] -
.cookies-accept {
  position: fixed;
  z-index: 15;
  bottom: 0;
  transform: translateY(100%);

  width: 100%;

  background-color: $color;
  box-shadow: 2px 0 7px #000;

  &__body {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
  }

  // .cookies-accept__content
  &__content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 0;

    @include screen-425 {
      flex-direction: column;
    }
  }

  // .cookies-accept__text
  &__text {
    p {
      font-size: 12px;
      line-height: 120%;
      color: #fff;
    }
  }

  // .cookies-accept_buttom
  &__button {
    max-width: 180px;
    padding: 6px 7.8rem;
    background: $font-color-secondary;

    span {
      color: $color;
      text-transform: none;
      text-transform: uppercase;
    }
  }
}
