@use '../core/variables' as *;
@use '../core/mixins' as *;

.form-question {
  position: relative;
  top: 10rem;

  width: 100%;
  max-width: 100rem;
  margin: auto;

  opacity: 1;

  transition:
    top 0.3s,
    opacity 0.3s;

  // .form-question__body
  &__body {
    overflow: hidden;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 72rem;
    padding: 9rem 2rem;

    background-color: #fff;
  }

  // .form-question__btn-close
  &__btn-close {
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;

    .icon-plus {
      transform: rotate(45deg);
      font-size: 3rem;
      color: $color;
    }
  }

  // .form-question__content
  &__content {
    position: relative;

    width: 100%;
    max-width: 76rem;
    margin: 0 auto;

    font-size: 1.6rem;

    transition: height 0.4s ease;
  }

  // .form-question__fieldset-table
  &__fieldset-table {
    will-change: transform;

    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(20px);

    width: 100%;

    visibility: hidden;
    opacity: 0;

    transition:
      opacity 0.4s ease,
      transform 0.4s ease,
      visibility 0.4s ease;

    .form-question__input {
      pointer-events: none;
    }

    &.active {
      position: relative;
      transform: translateY(0);
      visibility: visible;
      opacity: 1;

      .form-question__input {
        pointer-events: all;
      }
    }

    &:nth-child(1) {
      .form-question__buttons {
        justify-content: flex-end;
      }
    }

    &:last-child {
      .form-question__title {
        margin-bottom: 2rem;
        text-align: center;
      }

      p {
        padding-bottom: 1.6rem;
      }

      .form-question__line {
        border: 1px solid rgb(124 133 143);
        background: rgb(255 255 255);

        input {
          flex: 1 1 auto;
          width: 100%;
        }
      }
    }
  }

  // .form-question__title

  &__title {
    margin-bottom: 3rem;

    font-family: PsyType, sans-serif;
    line-height: 100%;
    color: $color;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .form-question__row

  &__row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  // .form-question__line-radio

  &__line-radio {
    position: relative;

    display: flex;
    gap: 16px;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 20px;

    input[type='radio']::before {
      content: '';

      position: relative;

      display: none;
      display: inline-block;

      width: 20px;
      height: 20px;
      border: 2px solid $color;
      border-radius: 50%;

      visibility: visible;
      background-color: #fff;
    }

    .form-question__input {
      &:checked + .form-question__label {
        &::before {
          scale: 1;
        }
      }
    }

    .form-question__label {
      &::before {
        content: '';

        position: absolute;
        left: 3px;
        scale: 0;

        width: 14px;
        height: 14px;
        border-radius: 50%;

        background: $color;

        transition: scale 0.2s ease-in-out;
      }
    }

    .form-question__input {
      flex: 0 0 20px;
      justify-content: center;
      width: 20px;
      height: 20px;
    }
  }

  // .form-question__line-checked
  &__line-checked {
    position: relative;

    display: flex;
    gap: 16px;

    width: 100%;
    height: 100%;
    min-height: 20px;

    input[type='checkbox']::before {
      content: '';

      position: relative;

      display: inline-block;

      width: 20px;
      height: 20px;
      border: 2px solid $color;

      visibility: visible;
      background-color: #fff;
    }

    .form-question__input {
      &:checked + .form-question__label ._icon {
        scale: 1;
      }
    }

    .icon-check {
      position: absolute;
      top: 0;
      left: 0;
      scale: 0;

      font-size: 30px;

      transition: scale 0.4s ease-in-out;
    }
    .form-question__input {
      flex: 0 0 20px;
      justify-content: center;
      width: 20px;
      height: 20px;
    }
  }

  // .form-question__line
  &__line {
    .form-question__input {
      padding: 1.5rem 2rem;
    }
  }

  // .form-question__input
  &__input {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
  }

  // .form-question__label

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 130%;
    .icon-check {
      top: -7px;
    }
  }

  // .form-question__textarea
  &__textarea {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-question__line,
    .form-question__line-radio {
      align-items: flex-start;
    }

    .form-question__label {
      flex-direction: column;
      gap: 8px;
      align-items: start;
      line-height: 1;

      &::before {
        top: 3px;
      }

      .icon-check {
        top: -7px;
      }
    }
  }

  // .form-question__text
  &__text {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 2rem;
    border: 1px solid rgb(124 133 143);

    background: rgb(36 52 68 / 10%);
  }

  // .form-question__comment
  &__comment {
    resize: none;

    overflow: auto;

    width: 100%;
    height: 100%;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 130%;
  }

  // .form-question__buttons
  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    width: 100%;
    margin-top: 6rem;
  }

  // .form-question__button
  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;

    &._btn-prev,
    &._btn-next {
      width: 18rem;
      min-width: 16rem;
    }

    &._btn-submit {
      width: 100%;
      max-width: 300px;

      color: #fff;
      text-align: center;

      background-color: $color;
    }

    &._btn-prev {
      .button {
        border: 1px solid $color;
        color: $color;
        background: #fff;
      }
    }

    &._btn-next {
      .button {
        width: 100%;
        color: #fff;
        text-align: center;
        background: $color;
      }
    }

    @include screen-690 {
      max-height: 48px;
    }
  }

  // .form-question__checkbox

  &__checkbox {
    display: flex;
    gap: 1rem;
  }
}

.checkbox {
  // .checkbox__label

  &__label {
    cursor: pointer;

    position: relative;

    margin-top: 3px;

    color: $color;
    letter-spacing: 0;

    &::before {
      border: 1px solid $color;
    }
  }

  // .checkbox__input

  &__input {
  }

  // .checkbox__checked

  &__checked {
  }
}
