@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-perform {
  // .section-perform__image
  &__image {
    position: relative;
    z-index: 2;
    overflow: hidden;

    img {
      position: relative;
      z-index: 2;
      opacity: 0.04;
    }
  }

  // .section-perform__image-fon
  &__image-fon {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgb(36 52 68 / 70%);
    background-color: hsl(0deg 0% 0% / 100%);
    background-image:
      radial-gradient(at 52% 40%, hsl(28deg 0% 0% / 100%) 0, transparent 50%),
      radial-gradient(at 88% 0%, hsl(220deg 86% 63% / 32%) 0, transparent 50%),
      radial-gradient(at 13% 100%, hsl(220deg 86% 63% / 32%) 0, transparent 50%);
  }

  // .section-perform__body
  &__body {
    position: relative;
    z-index: 3;
    height: 100%;
  }

  // .section-perform__content
  &__content {
    position: relative;
    z-index: 2;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 80%;
    height: 100%;
    min-height: 100vh;
    padding-top: 10rem;

    color: #a6c9ff;

    .tl-1,
    .tl-2 {
      // transform: translateX(15rem);
      opacity: 0;
    }
    .tl-3 {
      // transform: translateX(40rem);
      opacity: 0;
    }

    @include screen-960 {
      min-height: 100%;
      padding: 204px 0 40px;
    }

    @include screen-690 {
      max-width: 100%;
    }
  }

  // .section-perform__title
  &__title {
    margin-bottom: 12px;

    font-family: $font-family-title;
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-perform__text
  &__text {
    display: block;

    max-width: 90%;
    margin-bottom: 3.6rem;

    line-height: 130%;
    letter-spacing: 0;

    @include screen-490 {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }

  // .section-perform__button
  &__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 300px;

    @include screen-490 {
      max-width: 100%;
    }

    .button {
      transform: skew(-15deg) translateX(2rem);
      height: auto;
      padding: 1rem 2rem !important;
      border: 1px solid rgb(131 169 224);
    }

    span {
      transform: skew(15deg);

      font-size: 2.2rem;
      font-weight: 500;
      line-height: 100%;
      // color: $font-color-title;
      text-transform: uppercase;
      white-space: wrap !important;

      filter: contrast(100%);
    }
  }
}
