@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-survey {
  border-top: 2px solid rgb(25 42 75);
  border-bottom: 2px solid rgb(25 42 75);
  background-color: #abc5ee5d;

  // .section-survey__body
  &__body {
    padding-block: 6rem !important;

    @include screen-490 {
      padding-block: 4rem !important;
    }
  }
  // .section-survey__content
  &__content {
    display: flex;
  }

  // .section-survey__column
  &__column {
    flex: 0 1 50%;

    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .section-survey__title
  &__title {
    max-width: 960px;
    margin-bottom: 3rem;
    line-height: 100%;
    color: hsl(220deg 35% 35%);

    span {
      display: block;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  // .section-survey__text
  &__text {
    line-height: 130%;
    letter-spacing: 0;
    filter: contrast(150%);
  }

  // .section-survey__button
  &__button {
    transform: skew(-15deg);

    margin-left: 1rem;
    padding: 0.8rem 2rem;
    border: 1px solid rgb(131 169 224);

    line-height: 100%;

    background-color: hsl(0deg 0% 0%);
    background-image:
      radial-gradient(at 52% 40%, hsl(0deg 0% 0% / 0%) 0, transparent 50%),
      radial-gradient(at 14% 1%, hsl(220deg 86% 63% / 39%) 0, transparent 50%),
      radial-gradient(
        at 100% 100%,
        hsl(220deg 86% 63% / 29%) 0,
        transparent 50%
      );

    span {
      transform: skew(15deg);
      padding: 0 3rem;
      font-size: 22px;
      color: rgb(174 208 255);
    }
  }
}
