@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-brands {
  padding: 6rem 0;

  @include screen-490 {
    padding: 16px 0;
  }

  // .section-brands__slide-website
  &__slide-website {
    overflow: hidden;
    padding: 4rem 0.5rem;
  }

  // .section-brands__title
  &__title {
    margin-bottom: 2rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }
}

.brand-slide {
  // .brand-slide__body
  &__body {
    overflow: hidden;
  }
}
