@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-cooperation {
  position: relative;
  // .section-cooperation__body
  &__body {
    padding: 6rem 0;

    @include screen-490 {
      padding: 16px 0;
    }
  }

  // .section-cooperation__content
  &__content {
    width: 100%;
  }

  // .section-cooperation__title
  &__title {
    margin-bottom: 3rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-cooperation__column
  &__column {
    width: 100%;
  }

  // .section-cooperation__image
  &__image {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;

    // filter: blur(4px);
    opacity: 0.3;
    img {
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  // .section-cooperation__list
  &__list {
    position: relative;
    z-index: 1;
  }

  // .section-cooperation__item
  &__item {
    display: flex;
    gap: 12px;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  // .section-cooperation__button
}

.item-list {
  // .item-list__number
  &__number {
    border-radius: 50%;
    color: $background;
    background-color: hsl(0deg 0% 0% / 100%);
    background-image:
      radial-gradient(at 52% 40%, hsl(28deg 0% 0% / 100%) 0, transparent 50%),
      radial-gradient(at 14% 1%, hsl(220deg 86% 63% / 39%) 0, transparent 50%),
      radial-gradient(
        at 100% 100%,
        hsl(220deg 86% 63% / 29%) 0,
        transparent 50%
      );

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 6rem;
      height: 6rem;

      @include screen-375 {
        width: 40px;
        height: 40px;
      }
    }
  }

  // .item-list__title

  &__title {
    font-family: $font-family-title;
    line-height: 100%;
    color: $font-color-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .item-list__text
  &__text {
    line-height: 130%;
    letter-spacing: 0;
  }
}
