@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-order {
  // .section-order__body
  &__body {
    padding-block: 6rem !important;
    color: #fff;

    @include screen-490 {
      padding-block: 4rem !important;
    }
  }

  // .section-order__row
  &__row {
    display: flex;
    column-gap: 6rem;

    &:nth-child(1) {
      @include min-768 {
        margin-bottom: 2rem;

        .section-order__column {
          @include screen-768 {
            margin-bottom: 12px;
          }
        }
      }
    }

    @include screen-768 {
      flex-direction: column;
      row-gap: 3rem;
    }
  }

  // .section-order__column
  &__column {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
  }

  // .section-order__info
  &__info {
    height: 100%;

    @include screen-768 {
      margin-bottom: 12px;
    }
  }

  // .section-order__title
  &__title {
    width: 100%;
    margin-bottom: 1.56rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-secondary;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-order__text
  &__text {
    font-size: 1.6rem;
    line-height: 130%;
    color: $font-color-secondary;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  // .section-order__list
  &__list {
    line-height: 130%;
    color: $font-color-secondary;

    @include min-960 {
      margin-bottom: 5.2rem;
    }

    @include screen-490 {
      margin-bottom: 12px;
    }
  }

  // .section-order__item
  &__item {
    list-style: inside;
    span {
      margin-left: -10px;
    }
  }

  // .section-order__button
  &__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 300px;

    color: $font-color-title;

    @include min-768 {
      justify-content: start;
    }

    .button {
      width: 100%;
      max-width: 300px;
      text-align: center;
      background: $font-color-secondary;

      @include screen-490 {
        max-width: 100%;
      }
    }

    span {
      line-height: 150%;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  // .section-order__form
  &__form {
    height: 100%;
  }

  // .section-order__checkbox
  &__checkbox {
    display: flex;
    gap: 1rem;

    @include screen-768 {
      margin-bottom: 3rem;
    }
  }

  .checkbox {
    @include screen-768 {
      margin-bottom: 2rem;
    }

    @include screen-490 {
      margin-bottom: 12px;
    }

    // .checkbox__label
    &__label {
      cursor: pointer;

      position: relative;

      margin-top: 3px;

      color: $font-color-secondary;
      letter-spacing: 0;
    }
  }
}

.order-form {
  height: 100%;

  // .order-form__body
  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;

    @include screen-490 {
      gap: 12px;
    }
  }

  // .order-form__line
  &__line {
    overflow: hidden;
    border-radius: 5px;
  }
  // .order-form__item
  &__item {
    width: 100%;
    height: 100%;
  }

  // .order-form__input
  &__input {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    max-height: 5.6rem;
    padding: 1.5rem 2rem;

    color: $color;

    background: $background;

    input {
      width: 100%;
      font-size: 2rem;
      line-height: 130%;
    }
  }

  // .order-form__text
  &__text {
    height: 100%;
    padding: 1.5rem 2rem;
    background: $background;
  }

  // .order-form__comment
  &__comment {
    resize: none;

    overflow: auto;

    width: 100%;
    height: 100%;

    font-size: 2rem;
    color: $color;
  }

  // .order-form__checkbox
  &__checkbox {
    margin-top: 12px;
  }
}
