@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-brands {
  // .section-services__body
  &__body {
    padding-block: 6rem !important;

    @include screen-490 {
      padding-block: 3rem !important;
    }
  }

  // .section-brands__title
  &__title {
    margin-bottom: 2rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-title;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    @include minmax-768-1920 {
      gap: calc(16px + (60 - 16) * ((100vw - 768px) / (1920 - 768)));
    }

    @include screen-768 {
      grid-template-columns: 1fr;
    }
  }

  // .section-brands__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  // .section-brands__text
  &__text {
    line-height: 130%;
    letter-spacing: 0;
  }
}

.section-services {
  // .section-services__column
  &__column {
    display: flex;
    flex-direction: column;
    height: auto;

    &:nth-child(2) {
      @include screen-768 {
        display: none;
      }
    }
  }

  // .section-services__image
  &__image {
    position: relative !important;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @include screen-768 {
      height: 250px;
    }
  }
}
