@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-consultation {
  // .section-consultation__body
  &__body {
    display: flex;
    gap: 6rem;
    padding: 6rem 0;

    @include screen-690 {
      flex-direction: column;
      gap: 12px;
    }

    @include screen-490 {
      padding: 32px 0;
    }
  }

  // .section-consultation__column
  &__column {
    flex: 0 1 50%;
  }

  // .section-consultation__title
  &__title {
    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-secondary;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-consultation__text
  &__text {
    margin-bottom: 6rem;
    color: $font-color-secondary;

    p {
      line-height: 130%;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    @include screen-690 {
      margin-bottom: 3rem;
    }
  }

  // .section-consultation__button
  &__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 300px;

    color: $font-color-title;

    background: $font-color-secondary;

    span {
      line-height: 150%;
      text-transform: uppercase;
      white-space: nowrap;
    }

    @include screen-490 {
      max-width: 100%;
    }
  }
}
