.section-map {
  // .section-map__column

  &__column {
    margin: 0 -2rem;
  }

  // .section-map__image-01
  &__image {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
