@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-cost {
  // .section-cost__body
  &__body {
    padding-block: 6rem !important;
    color: #fff;

    @include screen-490 {
      padding-block: 32px;
    }
  }

  // .section-cost__title
  &__title {
    width: 100%;
    margin-bottom: 4rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-secondary;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-cost__content
  &__content {
    width: 100%;
  }

  // .section-order__row
  &__row {
    position: relative;
    display: flex;
    column-gap: 6rem;

    &:nth-child(1) {
      z-index: 9;

      @include min-768 {
        margin-bottom: 2rem;

        .section-order__column {
          @include screen-768 {
            margin-bottom: 12px;
          }
        }
      }
    }

    &:nth-child(2) {
      z-index: 1;
    }

    @include screen-768 {
      flex-direction: column;
    }
  }

  // .section-cost__column
  &__column {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
  }

  // .section-cost__text
  &__text {
    font-size: 1.6rem;
    line-height: 130%;
    color: $font-color-secondary;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  // .section-cost__button
  &__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 300px;

    color: $font-color-title;

    @include min-768 {
      justify-content: start;
    }

    .button {
      width: 100%;
      max-width: 300px;
      text-align: center;
      background: $font-color-secondary;

      @include screen-490 {
        max-width: 100%;
      }
    }

    span {
      line-height: 150%;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  // .section-cost__form
  &__form {
    height: 100%;
  }

  // .section-cost__form
  &__checkbox {
    display: flex;
    gap: 1rem;

    @include screen-768 {
      margin-bottom: 3rem;
    }
  }

  .checkbox {
    @include screen-768 {
      margin-bottom: 2rem;
    }

    @include screen-490 {
      margin-bottom: 12px;
    }

    // .checkbox__label
    &__label {
      cursor: pointer;

      position: relative;

      margin-top: 3px;

      color: $font-color-secondary;
      letter-spacing: 0;
    }
  }
}
