@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-services {
  // .section-services__body
  &__body {
    padding-block: 6rem !important;

    @include screen-490 {
      padding-block: 1.6rem !important;
    }
  }

  // .section-services__title
  &__title {
    margin-bottom: 2rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-title;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-services__content
  &__content {
    display: grid;
    grid-template-columns: minmax(220px, 420px) 1fr;
    gap: 60px;

    @include minmax-768-1920 {
      gap: calc(16px + (60 - 16) * ((100vw - 768px) / (1920 - 768)));
    }

    @include screen-768 {
      grid-template-columns: 1fr;
    }
  }

  // .section-services__column
  &__column {
    display: flex;
    flex-direction: column;
    height: auto;

    &:nth-child(1) {
      @include screen-768 {
        display: none;
      }
    }
  }

  // .section-services__image
  &__image {
    position: relative;
    top: 0;
    right: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    @include screen-768 {
      height: 250px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }
  }

  // .section-services__label
  &__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-1px);

    display: flex;
    justify-content: center;

    padding: 20px 50px;

    font-family: $font-family-title;
    color: $font-color-secondary;

    background: $font-color-title;

    @include screen-960 {
      padding: 12px 40px;
    }
  }
}

.services-content {
  // .services-content__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  // .services-content__title
  &__title {
    font-family: $font-family-title;
    color: $font-color-title;
  }

  // .services-content__text
  &__text {
    line-height: 130%;
    letter-spacing: 0;
  }
}
