@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-perform {
  // .section-perform__image
  &__image {
    z-index: 1;
    overflow: hidden;
  }

  // .section-perform__image-fon
  &__image-fon {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgb(36 52 68 / 70%);
  }

  // .section-perform__body
  &__body {
    position: relative;
    z-index: 3;
    height: 100%;
  }

  // .section-perform__content
  &__content {
    position: relative;
    z-index: 2;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 80%;
    height: 100%;
    min-height: 100vh;
    padding-top: 10rem;
    .tl-1,
    .tl-2 {
      transform: translateX(15rem);
      opacity: 0;
    }
    .tl-3 {
      transform: translateX(40rem);
      opacity: 0;
    }

    @include screen-960 {
      min-height: 100%;
      padding: 204px 0 40px;
    }

    @include screen-690 {
      max-width: 100%;
    }
  }

  // .section-perform__title
  &__title {
    margin-bottom: 12px;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-secondary;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-perform__text
  &__text {
    display: block;

    max-width: 90%;
    margin-bottom: 3.6rem;

    line-height: 130%;
    color: $font-color-secondary;
    letter-spacing: 0;

    @include screen-490 {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }

  // .section-perform__button
  &__button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 300px;

    color: $font-color-title;

    background: $font-color-secondary;

    @include screen-490 {
      max-width: 100%;
    }

    span {
      line-height: 150%;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}
