@use '../core/variables' as *;
@use '../core/mixins' as *;

.section-services {
  // .section-services__body
  &__body {
    padding-block: 6rem !important;

    @include screen-490 {
      padding-block: 1.6rem !important;
    }
  }

  // .section-services__title
  &__title {
    margin-bottom: 3rem;

    font-family: $font-family-title;
    line-height: 110%;
    color: $font-color-title;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
  }

  // .section-services__content
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    @include minmax-768-1920 {
      gap: calc(16px + (60 - 16) * ((100vw - 768px) / (1920 - 768)));
    }

    @include screen-768 {
      grid-template-columns: 1fr;
    }
  }

  // .section-services__column
  &__column {
    display: flex;
    flex-direction: column;
    height: auto;

    &:nth-child(1) {
      @include screen-768 {
        display: none;
      }
    }
  }

  // .section-services__image
  &__image {
    // position: relative !important;
    overflow: hidden;

    @include screen-768 {
      height: 250px;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.services-content {
  // .services-content__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  // .services-content__title
  &__title {
    font-family: $font-family-title;
    color: $font-color-title;
  }

  // .services-content__text
  &__text {
    margin-bottom: 1rem;
    line-height: 130%;
    letter-spacing: 0;
  }

  // .services-content__button
  &__button {
    transform: skew(-15deg);

    margin-left: 1rem;
    padding: 0.8rem 2rem;
    border: 1px solid rgb(131 169 224);

    line-height: 100%;

    background-color: hsl(0deg 0% 0%);
    background-image:
      radial-gradient(at 52% 40%, hsl(0deg 0% 0% / 0%) 0, transparent 50%),
      radial-gradient(at 14% 1%, hsl(220deg 86% 63% / 39%) 0, transparent 50%),
      radial-gradient(
        at 100% 100%,
        hsl(220deg 86% 63% / 29%) 0,
        transparent 50%
      );

    span {
      transform: skew(15deg);
      font-size: 22px;
      color: rgb(174 208 255);
    }
  }
}
