.cookies-accept
	.cookies-accept__body
		.cookies-accept__content
			.cookies-accept__text
				p Мы&nbsp;используем cookie. Это&nbsp;позволяет нам&nbsp;анализировать взаимодействие посетителей с&nbsp;сайтом и&nbsp;делать его&nbsp;лучше. Продолжая пользоваться сайтом, вы&nbsp;соглашаетесь с&nbsp;использованием файлов cookie 
			.cookies-accept__button.button 
				span.t-h2 Ок
				span.grad-blink