form(action="#" id="form-order").order-form 
	.order-form__body
		.order-form__line
			.order-form__item 
				.order-form__select-type(data-select)
					.select
						.select__input.select__button
							input(type="text" value="Тип объекта" id="service").t-text
						ul.select__list._collapse
							li.select__item.t-text._selected(value='') Офис 
							li.select__item.t-text(value='Производство') Производство
							li.select__item.t-text(value='Склад') Склад
							li.select__item.t-text(value='Торговый зал') Торговый зал
		.order-form__line
			.order-form__item 
				.order-form__select-type
					.select
						.select__input.square
							input(type="text" value="Площадь, м2" id="service").t-text
		.order-form__line
			.order-form__item 
				.order-form__select-type(data-select)
					.select
						.select__input.select__button
							input(type="text" value="Частота уборки" id="service").t-text
						ul.select__list._collapse
							li.select__item.t-text._selected(value='') Ежедневно 
							li.select__item.t-text(value='Производство') 2–3 раза в неделю
							li.select__item.t-text(value='Склад') Раз в неделю
							li.select__item.t-text(value='Торговый зал') Генеральная
		.order-form__line
			.order-form__item 
				.order-form__select-type(data-select)
					.select
						.select__input.select__button
							input(type="text" value="Дополнительно" id="service").t-text
						ul.select__list._collapse
							li.select__item.t-text._selected(value='') Вывоз КГМ  
							li.select__item.t-text(value='Производство') Уборка территории
							li.select__item.t-text(value='Склад') Дезинфекция 
		.order-form__line
			.order-form__item 
				label(for="phone").order-form__label 
				.order-form__input
					input.input.phone(id="phone" autocomplete="off" type="tel" name="phone" error="Обязательное поле" placeholder="+7 (___) ___-__-__") 