@use '../core/variables' as *;
@use '../core/mixins' as *;

.swiper-wrapper > .swiper-slide:not(.swiper-slide-active) {
  .main-slide__title {
    opacity: 0 !important;
    transition: opacity 0.9s ease-in-out;
  }

  .main-slide__text {
    opacity: 0 !important;
    transition: opacity 0.9s ease-in-out;
  }
}

//* ----------------------------------------------------------------------------
.return-button {
  cursor: pointer;

  position: fixed;
  z-index: 13;
  top: 50%;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 65px;
  margin-top: -17px;
  border-radius: 4px;

  background: #f2ebe4;

  i {
    &::before {
      font-weight: 400;
      text-shadow: none;
    }
  }

  ._button {
    cursor: pointer;

    position: relative;
    z-index: 13;
    left: 0;

    display: flex;
    justify-content: center;

    width: 35px;
    height: 35px;

    font-size: 3.8rem;

    background: transparent;

    transition: all 0.5s ease-in-out;
    img {
      width: 20px;
      height: 100%;
      // height: 35px;
    }

    &:hover {
      animation: fadeInBackground;
    }
  }

  &._rotate {
    ._button {
      scale: -1;
    }
  }
}

//* ----------------------------------------------------------------------------
.checkbox {
  // .checkbox__input
  &__input {
    display: none;

    &:checked + .checkbox__checked ._icon {
      scale: 1;
    }
  }

  &__checked {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;

    width: 16px;
    height: 16px;

    line-height: 130%;
  }

  // .checkbox__label
  &__label {
    cursor: pointer;

    display: flex;
    gap: 12px;
    align-items: flex-start;

    max-width: 66.1rem;

    font-size: 1.6rem;
    line-height: 110%;

    &::before {
      content: '';

      position: absolute;

      flex: 0 0 16px;

      width: 16px;
      height: 16px;

      background: $background;

      transition: box-shadow 0.3s ease-in-out;
    }

    ._icon {
      position: absolute;
      transform: translateX(-1px);
      scale: 0;

      display: block;

      width: 16px;
      height: 16px;

      color: $font-color-title;

      transition: scale 0.2s ease;

      &::before {
        font-size: 18px;
      }
    }

    a {
      font-weight: 600;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

    @include screen-490 {
      font-size: 12px;
    }
  }
}

._clip-circle {
  @include min-960 {
    cursor: pointer;
    position: relative;
    z-index: 2;

    &::before {
      content: '';

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      color: #fff;

      background: linear-gradient(-45deg, #20193c, #020101 70%);
      clip-path: circle(var(--size) at var(--pos));

      transition: all 0.9s ease-in-out;
    }

    &:hover {
      &::before {
        --size: 200%;
      }
    }
  }
}

//* ------------------------- [Class _ibg] -------------------------------------

.t-h1 {
  font-size: 64px;
  filter: contrast(120%);

  @include minmax-490-1920 {
    font-size: calc(
      32px + (64 - 32) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 32px !important;
  }
}
.t-h2 {
  font-size: 42px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  filter: contrast(120%);

  @include minmax-490-1920 {
    font-size: calc(
      24px + (42 - 24) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 24px !important;
  }
}
.t-h3 {
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  filter: contrast(120%);

  @include minmax-490-1920 {
    font-size: calc(
      20px + (32 - 20) * ((100vw - 490px) / (1920 - 490))
    ) !important;
  }

  @include screen-490 {
    font-size: 20px !important;
  }
}
.t-text {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0;
  filter: contrast(150%);

  @include minmax-490-1920 {
    font-size: calc(14px + (24 - 14) * ((100vw - 490px) / (1920 - 490)));
  }

  @include screen-490 {
    font-size: 14px;
  }
}
.t-text-30 {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0;

  @include minmax-490-1920 {
    font-size: calc(16px + (28 - 16) * ((100vw - 490px) / (1920 - 490)));
  }

  @include screen-490 {
    font-size: 16px;
  }
}

.t-text-26 {
  font-size: 30px;

  @include minmax-490-1920 {
    font-size: calc(16px + (26 - 16) * ((100vw - 490px) / (1920 - 490)));
  }

  @include screen-490 {
    font-size: 16px;
  }
}

.button {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 5.6rem;

  font-family: $font-family-title;
  font-weight: 400;
  text-transform: uppercase;

  box-shadow: 0 0 10px #ddd;

  transition: box-shadow 0.4s ease-in-out;

  span {
    pointer-events: none;

    display: block;

    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
  }

  @include screen-490 {
    height: 40px;
  }
}

//* ----------------------------------------------------------------------------
.button-container,
.form-question__button {
  button {
    background: transparent;
    transition: background 0.4s ease-in-out;
    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      background: silver !important;
      box-shadow: none;
    }
  }
}
