.running-line
	.running-line__body
		.running-line__content 
			.running-line__marquee.button-request(role="marquee" aria-label="Заказать обратный звонок")
				.running-line__text.t-h2 Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				.running-line__text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /