.section-survey._container
  .section-survey__body 
    h2.section-survey__title.t-h1.el-item Как проходит сотрудничество — просто, прозрачно, без срывов
    .section-survey__content 
      .section-survey__column 
        ul.section-survey__list 
          li.item-list.section-survey__item.its-el
            .item-list__number.t-h2 
              span 1
            .item-list__info 
              .item-list__title.t-h2 Заявка
              .item-list__text.t-text Вы оставляете запрос — по телефону 8 (800)-234-55-44, email ger.dir@crnii.ru или через форму на сайте.

          li.item-list.section-survey__item.its-el
            .item-list__number.t-h2 
              span 2
            .item-list__info 
              .item-list__title.t-h3 Оценка и КП
              .item-list__text.t-text Вы оставляете запрос — по телефону 8 (800)-234-55-44, email ger.dir@crnii.ru или через форму на сайте.

          li.item-list.section-survey__item.its-el
            .item-list__number.t-h2 
              span 3
            .item-list__info 
              .item-list__title.t-h2 Подписание
              .item-list__text.t-text Договор, график работ, регламент уборки — согласовываем дистанционно или при встрече.

          li.item-list.section-survey__item.its-el
            .item-list__number.t-h2
              span 4
            .item-list__info 
              .item-list__title.t-h3 Старт работ
              .item-list__text.t-text Формируем бригаду, подвозим оборудование — приступаем в оговорённый срок (от 24 часов).

          li.item-list.section-survey__item.its-el
            .item-list__number.t-h2 
              span 5
            .item-list__info 
              .item-list__title.t-h2 Контроль качества
              .item-list__text.t-text Двухуровневая проверка: бригадир на объекте + менеджер по фото/видеоотчётам.

          li.item-list.section-survey__item.its-el
            .item-list__number.t-h2 
              span 6
            .item-list__info 
              .item-list__title.t-h3 Отчётность
              .item-list__text.t-text Ежемесячные акты выполненных работ, фотофиксация — при необходимости.
        .section-survey__image._ibg
          img(src="/img/pic/img-04.png" alt="image") 