.section-credence
	.section-credence__body._container
		h2.section-credence__title.t-h1.el-item Почему нам доверяют собственники и&nbsp;управляющие?
		.section-credence__content 

			.section-credence__column.credence-content 
				.credence-content__text.t-text
					+iconfont('hand-shake', 'icon')
					p.its-el <span> Работаем по договору</span> — юридическая прозрачность, акты выполненных работ, КП в течение часа. 
			.section-credence__column.credence-content 
				.credence-content__text.t-text
					+iconfont('financial-system', 'icon')
					p.its-el <span>Сертифицированные материалы</span> — химия, расходники и оборудование — напрямую от заводов-изготовителей.
			.section-credence__column.credence-content 
				.credence-content__text.t-text 
					+iconfont('management', 'icon')
					p.its-el <span>Контроль на каждом этапе</span> — двухуровневая проверка: бригадир + менеджер проекта.
			//- .section-credence__image._img 
				+picture('/img/pic/map.png', 'image') 