.section-brands
	.section-brands__body._container
		h2.section-brands__title.t-h1.el-item Нам доверяют компании по всей Калужской области 
		.section-services__content 
			.section-brands._column  
				.section-brands__item.its-el
					h2.section-brands__title.t-h2 Логистический комплекс, 9 200 м²
					.section-brands__text.t-text
						p Ежедневная уборка складских зон, офиса и санузлов. Снижение простоев зоны погрузки-разгрузки за счёт регулярного вывоза мусора и чистки пола.
				.section-brands__item.its-el
					h2.section-brands__title.t-h2 Бизнес-центр, 1 800 м²
					.section-brands__text.t-text
						p Комплексное обслуживание: офисы, холлы, кухни, санузлы. Внедрён график «2 уборки в день» — до и после рабочего дня.
				.section-brands__item.its-el
					h2.section-brands__title.t-h2 Производственное предприятие, 12 000 м²
					.section-brands__text.t-text
						p Генеральная + поддерживающая уборка цехов. Использование промышленного оборудования позволило сократить время уборки на 40% 
			.section-services__column 
				.section-services__image._ibg
					+picture('/img/pic/log-01.png', 'image') 
				.section-services__image._ibg 
					+picture('/img/pic/log-02.png', 'image') 
				.section-services__image._ibg
					+picture('/img/pic/log-03.png', 'image') 