.section-perform
  .section-perform__image._ibg 
    +picture('/img/pic/prew-01.jpg"', 'image') 
    .section-perform__image-fon
  .section-perform__body._container
    .section-perform__content 
      hgroup.section-perform__group   
        h1.section-perform__title.t-h1.tl-1 Клининг коммерческих и&nbsp;производственных помещений
        p.section-perform__text.t-text-30.tl-2 Работаем напрямую с &nbsp;юрлицами и &nbsp;ИП. Оперативный старт, договор, фиксированная стоимость. Механизированная и &nbsp;ручная уборка
      .section-perform__button.button-request.tl-3 
        button(type="button").button.t-h2
          span Получить Коммерческое предложение
          span.grad-blink