.section-brands
	.section-brands__container
		h2.section-brands__title.t-h1.el-item Нам доверяют
		.brand-slide 
			.brand-slide__body.slide-swiper._swiper
				.brand-slide__slide-column 
					span 
						img(src="/img/brands/1.png" alt="Горлица")
				.brand-slide__slide-column 
					span 
						img(src="/img/brands/2.png" alt="СберБанк") 
				.brand-slide__slide-column 
					span
						img(src="/img/brands/4.png" alt="ЛукаС") 
				.brand-slide__slide-column 
					span
						img(src="/img/brands/5.png" alt="ЛукаС") 
				.brand-slide__slide-column 
					span
						img(src="/img/brands/6.png" alt="ЛукаС") 
				.brand-slide__slide-column 
					span
						img(src="/img/brands/7.png" alt="ЛукаС") 