.section-ordercall 
  .section-ordercall__image._ibg
    +picture('/img/pic/img-03.png', 'image') 
  .section-ordercall__body
    .section-ordercall__content._container 
      .section-ordercall__column 
        h2.section-ordercall__title.t-h1.el-item(data-da="section-ordercall__box" data-da-position="0" data-da-resolution="490") Управляем
      .section-ordercall__column 
        .section-ordercall__box 
          ul.section-ordercall__list
            li.section-ordercall__item.t-text-16
              span Бизнес-центры
            li.section-ordercall__item.t-text-16
              span Склады
            li.section-ordercall__item.t-text-16
              span МФК
            li.section-ordercall__item.t-text-16
              span Фудхоллы
            li.section-ordercall__item.t-text-16
              span Торговые центры
            li.section-ordercall__item.t-text-16
              span Кинотеатры
            li.section-ordercall__item.t-text-16
              span Апартаменты
            li.section-ordercall__item.t-text-16
              span Спортивные арены
          .section-ordercall__button.ordercall-button
            button(type="button").button.t-h2
              span Заказать звонок
              span.grad-blink