.section-partners._container
  .section-partners__body
    .partners-list#client
      h2.partners-list__title.t-h1.el-item С кем Мы работаем  
      .partners-list__content 
        .partners-list__column.its-el
          h2.partners-list__title-text.t-h2 С&nbsp;собственниками 
          .partners-list__text.t-text 
            p Снимаем с&nbsp;владельцев все&nbsp;задачи по&nbsp;управлению, оказываем юридическое и&nbsp;бухгалтерское сопровождение.
        .partners-list__column.its-el 
          h2.partners-list__title-text.t-h2 С&nbsp;инвесторами
          .partners-list__text.t-text 
            p Поможем принять обдуманные и взвешенные решения, основанные на анализе разных показателей динамике котировок, соотношении рисков и доходности, надежности эмитента,  текущей ситуации в экономике, геополитике и отрасли инвестиций, изучим стратегию подерем нужные инструменты.
        .partners-list__column.its-el 
          h2.partners-list_title-text.t-h2 С&nbsp;арендаторами/покупателями
          .partners-list__text.t-text 
            p Предлагаем в&nbsp;аренду и&nbsp;продажу коммерческую недвижимость: офисы, склады, торговые помещения и&nbsp;помещения свободного назначения.
        .partners-list_column.its-el
          h2.partners-list__title-text.t-h2 С&nbsp;управляющими компаниями 
          .partners-list__text.t-text 
            p Предоставляем полный комплекс услуг своей аварийно-диспетчерской службы: устраняем поломки и&nbsp;следим за&nbsp;исправностью всех инженерных систем. 