.section-services
  .section-services__body._container
    h2.section-services__title.t-h1.el-item Комплексный клининг «под ключ» — под ваш формат бизнеса
    .section-services__content 
      .section-services__column 
        .section-services__image 
          +picture('/img/pic/img-01.png', 'image')
          //- img(src="/img/pic/img-01.png" alt="image") 
        .section-services__image  
          +picture('/img/pic/img-01.png', 'image')
          //- img(src="/img/pic/img-01.png" alt="image") 
        .section-services__image  
          +picture('/img/pic/img-01.png', 'image')
          //- img(src="/img/pic/img-01.png" alt="image") 
        .section-services__image  
          +picture( '/img/pic/img-01.png', 'image')
          //- img(src="/img/pic/img-01.png" alt="image") 
      .services-content__column  
        .services-content__item.its-el
          h2.services-content__title.t-h2 Офисные помещения
          .services-content__text.t-text
            p Ежедневная и генеральная уборка, влажная протирка поверхностей, уборка кухонных зон, санузлов, ковровых покрытий, вынос мусора.
        .services-content__item.its-el
          h2.services-content__title.t-h2 Производственные помещения
          .services-content__text.t-text
            p Механизированная и ручная уборка цехов, складов, ангаров. Чистка полов, ППУ, удаление технических загрязнений, пыли и производственного мусора.
        .services-content__item.its-el
          h2.services-content__title.t-h2 Сантехнические помещения
          .services-content__text.t-text
            p Глубокая дезинфекция, чистка сантехники, устранение известкового налёта и запахов. Работаем даже при высокой проходимости.
        .services-content__item.its-el
          h2.services-content__title.t-h2 Прилегающая территория
          .services-content__text.t-text
            p Уборка, вывоз снега зимой, погрузка и вывоз крупногабаритного мусора (КГМ), поддержание порядка в зоне ответственности.