.section-order.bp-3.form-order
	.section-order__body._container  
		h2.section-order__title.t-h1 Готовы к чистоте без головной боли?
		.section-order__form(data-da="bp-4" data-da-position="0" data-da-resolution="768")
		.section-order__content 
			.section-order__row
				.section-order__column.bp-2.its-el-right
					include ../modules/form-order 
				.section-order__column.bp-4.its-el-left 
					.section-order__info(data-da="bp-2" data-da-position="1" data-da-resolution="768")  
						.section-order__text.t-text
							p Оставьте заявку — и вы получите расчёт, КП и проект договора
						ul.section-order__list.t-text  
							li.section-order__item  
								span 8 (800) 234-55-44 
							li.section-order__item  
								span 7 (980) 510-41-96
							li.section-order__item  
								span Полное сопровождение сделки;
							li.section-order__item  
								span И&nbsp;самое важное: всегда на&nbsp;связи в&nbsp;экстренных ситуациях 24/7!
					.section-order__button.button-container(data-da="bp-5" data-da-position="0" data-da-resolution="768") 
						button(form="form-order" type="button" disabled).button.send-button.t-h2 
							span Оставить заявку
							span.grad-blink 
			.section-order__row 
				.section-order__column.bp-5
					.section-order__checkbox(data-da="bp-4" data-da-position="1" data-da-resolution="768") 
						.checkbox
							label.checkbox__label 
								input(type="checkbox" id="agree" name="agree" form="form-order").checkbox__input 
								span.checkbox__checked
									+iconfont('check', '_icon')
						span.section-order__text Подтверждаю, что&nbsp;ознакомился&nbsp;(&#8209;лась) с&nbsp;политикой конфиденциальности и&nbsp;даю&nbsp;согласие на&nbsp;обработку персональных данных 
