.section-survey
  .section-survey__body._container 
    .section-survey__content 
      .section-survey__column 
        h5.section-survey__title.t-h3 
          span Консультация менеджера
          span Подберём решение под ваш объект — всего 5&nbsp;вопросов
        .section-survey__text
          p.t-text Ваши ответы помогут менеджеру подготовить точное КП и&nbsp;выехать на осмотр  в&nbsp;течение дня.
      .section-survey__column 
        .section-survey__button.button
          span ПРОЙТИ ОПРОС

