.section-perform
  .section-perform__image._ibg 
    +picture('/img/pic/prew-01.jpg"', 'image') 
    .section-perform__image-fon
  .section-perform__body._container
    .section-perform__content 
      hgroup.section-perform__group   
        h1.section-perform__title.t-h1.tl-1 Комплексное управление коммерческой недвижимостью 
        p.section-perform__text.t-text-30.tl-2 Будьте на&nbsp;шаг впереди тенденций отрасли благодаря аналитике и&nbsp;опыту команды Центр&nbsp;развития&nbsp;инвестиций
      .section-perform__button.button-request.tl-3 
        button(type="button").button.t-h2
          span Оставить заявку
          span.grad-blink