.section-consultation._container 
  .section-consultation__body
    .section-consultation__column.its-el-right 
      h2.section-consultation__title.t-h1 Экспертная консультация <br> по&nbsp;управлению недвижимостью
    .section-consultation__column.its-el-left
      .section-consultation__text.t-text  
        p Ответьте на&nbsp;несколько вопросов и&nbsp;мы&nbsp;поможем в&nbsp;решении многих вопросов!
        p Проконсультируем в&nbsp;удобное для&nbsp;вас&nbsp;время
      .section-consultation__button.button-question
        button(type="button").button.t-h2 
          span Пройти опрос
          span.grad-blink 