.section-cooperation._container
	.section-cooperation__body 
		h2.section-cooperation__title.t-h1.el-item Как проходит сотрудничество — просто, прозрачно, без&nbsp;срывов
		.section-cooperation__content 
			.section-cooperation__column 
				ul.section-cooperation__list 
					li.item-list.section-cooperation__item.its-el
						.item-list__number.t-h2 
							span 1
						.item-list__info 
							.item-list__title.t-h2 Заявка
							.item-list__text.t-text Вы оставляете запрос — по&nbsp;телефону 8&nbsp;(800)-234-55-44, email&nbsp;ger.dir@crnii.ru или&nbsp;через форму на&nbsp;сайте.
					li.item-list.section-cooperation__item.its-el
						.item-list__number.t-h2 
							span 2
						.item-list__info 
							.item-list__title.t-h3 Оценка и КП
							.item-list__text.t-text Менеджер уточняет детали, высылает коммерческое предложение и&nbsp;проект договора в&nbsp;течение часа.

					li.item-list.section-cooperation__item.its-el
						.item-list__number.t-h2 
							span 3
						.item-list__info 
							.item-list__title.t-h2 Подписание
							.item-list__text.t-text Договор, график работ, регламент уборки — согласовываем дистанционно или&nbsp;при&nbsp;встрече.

					li.item-list.section-cooperation__item.its-el
						.item-list__number.t-h2
							span 4
						.item-list__info 
							.item-list__title.t-h3 Старт работ
							.item-list__text.t-text Формируем бригаду, подвозим оборудование — приступаем в&nbsp;оговорённый срок (от&nbsp;24&nbsp;часов).

					li.item-list.section-cooperation__item.its-el
						.item-list__number.t-h2 
							span 5
						.item-list__info 
							.item-list__title.t-h2 Контроль качества
							.item-list__text.t-text Двухуровневая проверка: бригадир на&nbsp;объекте + менеджер по&nbsp;фото/видеоотчётам.

					li.item-list.section-cooperation__item.its-el
						.item-list__number.t-h2 
							span 6
						.item-list__info 
							.item-list__title.t-h3 Отчётность
							.item-list__text.t-text Ежемесячные акты выполненных работ, фотофиксация — при&nbsp;необходимости.
				.section-cooperation__image._ibg
					img(src="/img/pic/img-04.png" alt="image") 