.section-relations
  .section-relations__body._container
    .relations-list#client
      h2.relations-list__title.t-h1.el-item 6 причин, почему с&nbsp;нами выгодно работать регулярно
      .relations-list__content 
        .relations-list__column.its-el
          h3.relations-list__title-text.t-h2 Оперативный старт 
          .relations-list__text.t-text 
            p Готовы начать в&nbsp;течение 24&nbsp;часов после заявки
        .relations-list__column.its-el 
          h3.relations-list__title-text.t-h2 Индивидуальный подход
          .relations-list__text.t-text 
            p Составляем регламент под&nbsp;ваш объект: зоны, частоту, стандарты
        .relations-list__column.its-el 
          h3.relations-list__title-text.t-h2 Сертифицированная химия
          .relations-list__text.t-text 
            p Безопасна для&nbsp;людей, оборудования и&nbsp;полов
        .relations-list__column.its-el
          h3.relations-list__title-text.t-h2 Собственное оборудование 
          .relations-list__text.t-text 
            p Монощётки, поломоечные машины, промышленные пылесосы
        .relations-list__column.its-el
          h3.relations-list__title-text.t-h2 Опытные сотрудники 
          .relations-list__text.t-text 
            p Контролируют качество и&nbsp;соблюдение сроков
        .relations-list__column.its-el
          h3.relations-list__title-text.t-h2 Большие и&nbsp;малые объемы работ
          .relations-list__text.t-text 
            p Не боимся трудностей и&nbsp;не&nbsp;удобных заказов