.section-order.bp-3.form-order
	.section-order__body._container 
		.section-order__content 
			.section-order__row
				.section-order__column.bp-2.its-el-right 
					h2.section-order__title.t-h1 Приумножьте&nbsp;свой&nbsp;доход, доверив управление недвижимостью экспертам 
					.section-order__form(data-da="bp-4" data-da-position="0" data-da-resolution="768")
						include ../modules/form-order 
				.section-order__column.bp-4.its-el-left 
					.section-order__info(data-da="bp-2" data-da-position="1" data-da-resolution="768")  
						.section-order__text.t-text
							p Формируем и&nbsp;реализуем максимально удобную и&nbsp;подходящую заказчику стратегию.
							p Оставьте заявку на&nbsp;управление &nbsp;мы&nbsp;обеспечим: 
						ul.section-order__list.t-text  
							li.section-order__item  
								span Стабильно высокий доход без&nbsp;физических и&nbsp;моральных затрат;
							li.section-order__item  
								span Достойных и&nbsp;проверенных арендаторов; 
							li.section-order__item  
								span Полное сопровождение сделки;
							li.section-order__item  
								span И&nbsp;самое важное: всегда на&nbsp;связи в&nbsp;экстренных ситуациях 24/7!
					.section-order__button.button-container(data-da="bp-5" data-da-position="0" data-da-resolution="768") 
						button(form="form-order" type="button" disabled).button.send-button.t-h2 
							span Оставить заявку
							span.grad-blink 
			.section-order__row 
				.section-order__column.bp-5
					.section-order__checkbox(data-da="bp-4" data-da-position="1" data-da-resolution="768") 
						.checkbox
							label.checkbox__label 
								input(type="checkbox" id="agree" name="agree" form="form-order").checkbox__input 
								span.checkbox__checked
									+iconfont('check', '_icon')
						span.section-order__text Подтверждаю, что&nbsp;ознакомился&nbsp;(&#8209;лась) с&nbsp;политикой конфиденциальности и&nbsp;даю&nbsp;согласие на&nbsp;обработку персональных данных 
