.section-info._container 
	.section-info__body
		h2.section-info__title.t-h1.el-item  Ваша чистота — под&nbsp;надёжной защитой
		.section-info__content 
			.info-content.section-info__column 
				.section-info__image._ibg
					+picture('/img/pic/img-05.png', 'image') 
			.info-content.section-info__column 
				.info-content__item.its-el#analytic
					.info-content__icon
						+iconfont('check', 'icon')
					.info-content__text.t-text
						p <span>Договор с чётким регламентом</span> — никаких «устных договорённостей»
				.info-content__item.its-el
					.info-content__icon
						+iconfont('check', 'icon')
					.info-content__text.t-text
						p <span>Фиксированная стоимость</span> — никаких доплат «по факту»
				.info-content__item.its-el#brokerage
					.info-content__icon
						+iconfont('check', 'icon')
					.info-content__text.t-text
						p <span>Контроль качества 2 уровня</span> — бригадир на месте + менеджер дистанционно
				.info-content__item.its-el#management
					.info-content__icon
						+iconfont('check', 'icon')
					.info-content__text.t-text 
						p <span>Личный менеджер</span> —  доступен по рабочим вопросам 24/7
				.info-content__item.its-el
					.info-content__icon
						+iconfont('check', 'icon')
					.info-content__text.t-text 
						p <span>Ответственность по договору</span> — включая возмещение ущерба при нарушении условий
				//- .info-content__item.its-el#cleaning
					.info-content__icon
						+iconfont('check', 'icon')
					.info-content__text.t-text
						p <span></span>