/* stylelint-disable at-rule-descriptor-value-no-unknown */
@use 'variables' as *;
@use 'variables-icon' as *;

@mixin font-face($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
    src:
      url('#{$font-path}/#{$file_name}.eot') format('eot'),
      url('#{$font-path}/#{$file_name}.woff') format('woff'),
      url('#{$font-path}/#{$file_name}.woff2') format('woff2'),
      url('#{$font-path}/#{$file_name}.ttf') format('truetype');
  }
}
:root {
  --mq-header-size: normal;
}
//* ----------------------------------------------------------------------------
@mixin screen {
  @media screen {
    @content;
  }
}

@mixin screen-1920 {
  @media screen and (width <= 1920px) {
    @content;
  }
}

@mixin screen-1800 {
  @media screen and (width <= 1800px) {
    @content;
  }
}

@mixin screen-1440 {
  @media screen and (width <= 1440px) {
    @content;
  }
}

@mixin screen-1140 {
  @media screen and (width <= 1140px) {
    @content;
  }
}

@mixin screen-1024 {
  @media screen and (width <= 1024px) {
    @content;
  }
}

@mixin screen-960 {
  @media screen and (width <= 960px) {
    @content;
  }
}

@mixin screen-920 {
  @media screen and (width <= 920px) {
    @content;
  }
}

@mixin screen-768 {
  @media (width <= 768px) {
    @content;
  }
}

@mixin screen-690 {
  @media (width <= 690px) {
    @content;
  }
}

@mixin screen-580 {
  @media (width <= 580px) {
    @content;
  }
}

@mixin screen-490 {
  @media screen and (width <= 490px) {
    @content;
  }
}

@mixin max-490 {
  @media (width <= 490px) {
    @content;
  }
}

@mixin screen-425 {
  @media screen and (width <= 425px) {
    @content;
  }
}

@mixin screen-375 {
  @media screen and (width <= 375px) {
    @content;
  }
}

@mixin screen-320 {
  @media screen and (width <= 320px) {
    @content;
  }
}

//* ----------------------------------------------------------------------------
@mixin min-1440 {
  @media (width >= 1440.99px) {
    @content;
  }
}

@mixin min-1140 {
  @media (width >= 1140.99px) {
    @content;
  }
}

@mixin min-1024 {
  @media (width >= 1024.99px) {
    @content;
  }
}

@mixin min-960 {
  @media (width >= 960.99px) {
    @content;
  }
}

@mixin min-920 {
  @media (width >= 920.99px) {
    @content;
  }
}

@mixin min-768 {
  @media (width >= 768.98px) {
    @content;
  }
}

@mixin min-690 {
  @media (width >= 690.98px) {
    @content;
  }
}

@mixin min-490 {
  @media (width >= 490.99px) {
    @content;
  }
}

@mixin min-425 {
  @media (width >= 425.99px) {
    @content;
  }
}

@mixin min-375 {
  @media (width >= 375.99px) {
    @content;
  }
}

@mixin min-320 {
  @media (width >= 320.99px) {
    @content;
  }
}

//* ----------------------------------------------------------------------------
@mixin minmax-1440-1920 {
  @media (width >= 1440.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-1140-1920 {
  @media (width >= 1140.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-960-1920 {
  @media (width >= 960.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-920-1920 {
  @media (width >= 920.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-768-1920 {
  @media (width >= 768.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-690-1920 {
  @media (width >= 690.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-490-1920 {
  @media (width >= 490.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-320-1920 {
  @media (width >= 320.98px) and (width <= 1920px) {
    @content;
  }
}

@mixin minmax-920-1170 {
  @media (width >= 920.98px) and (width <= 1170px) {
    @content;
  }
}

@mixin minmax-1024-1140 {
  @media (width >= 1024px) and (width <= 1140px) {
    @content;
  }
}

@mixin minmax-690-1140 {
  @media (width >= 690.99px) and (width <= 1140px) {
    @content;
  }
}

@mixin minmax-920-1024 {
  @media (width >= 920.99px) and (width <= 1024px) {
    @content;
  }
}

@mixin minmax-768-920 {
  @media (width >= 768.98px) and (width <= 920px) {
    @content;
  }
}

@mixin minmax-690-920 {
  @media (width >= 690.98px) and (width <= 920px) {
    @content;
  }
}

@mixin minmax-490-1140 {
  @media (width >= 490.99px) and (width <= 1140px) {
    @content;
  }
}

@mixin minmax-490-1024 {
  @media (width >= 490.99px) and (width <= 1024px) {
    @content;
  }
}

@mixin minmax-490-920 {
  @media (width >= 490.99px) and (width <= 920px) {
    @content;
  }
}

@mixin minmax-490-768 {
  @media (width >= 490.98px) and (width <= 768px) {
    @content;
  }
}

@mixin minmax-375-920 {
  @media (width >= 375.98px) and (width <= 920px) {
    @content;
  }
}

@mixin minmax-320-920 {
  @media (width >= 320.99px) and (width <= 920px) {
    @content;
  }
}

@mixin minmax-690-768 {
  @media (width >= 690.99px) and (width <= 768px) {
    @content;
  }
}

@mixin minmax-425-768 {
  @media (width >= 425.99px) and (width <= 768px) {
    @content;
  }
}

@mixin minmax-490-690 {
  @media (width >= 490.99px) and (width <= 690px) {
    @content;
  }
}

@mixin minmax-375-690 {
  @media (width >= 375.98px) and (width <= 690px) {
    @content;
  }
}

@mixin minmax-375-490 {
  @media (width >= 376px) and (width <= 490px) {
    @content;
  }
}

@mixin minmax-425-490 {
  @media (width >= 425.98px) and (width <= 490px) {
    @content;
  }
}

@mixin minmax-320-690 {
  @media (width >= 330.98px) and (width <= 690px) {
    @content;
  }
}

@mixin minmax-320-490 {
  @media (width >= 320px) and (width <= 490px) {
    @content;
  }
}

//* ----------------------------------------------------------------------------
