@use '../core/variables' as *;
@use '../core/mixins' as *;

.scroll-container {
  pointer-events: none;

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: #00ffea34;
}

.page {
  // .page__form-request
  &__form-questions,
  &__form-request,
  &__order-call {
    pointer-events: none;

    position: fixed;
    z-index: 17;
    top: 0;

    overflow-x: hidden;
    display: flex;

    width: 100%;
    height: 100vh;

    opacity: 0;
    background-color: #24344496;
    backdrop-filter: blur(40px);

    transition: opacity 0.3s ease-in-out;

    &.is-open {
      opacity: 1;
      .form-question,
      .form-request,
      .order-call {
        pointer-events: auto;
        top: 0;
        opacity: 1;
      }
    }
  }

  // page__button-outbound
  &__button-outbound {
    position: fixed;
    z-index: 999;
    top: 80px;
    right: 0;
    transform: skew(-15deg) translateX(-2rem);

    padding: 0.8rem 2rem;
    border: 1px solid rgb(131 169 224);

    line-height: 100%;

    background-color: hsl(0deg 0% 0% / 100%);
    background-image:
      radial-gradient(at 52% 40%, hsl(28deg 0% 0% / 100%) 0, transparent 50%),
      radial-gradient(at 14% 1%, hsl(220deg 86% 63% / 39%) 0, transparent 50%),
      radial-gradient(
        at 100% 100%,
        hsl(220deg 86% 63% / 29%) 0,
        transparent 50%
      );

    span {
      transform: skew(15deg);
      font-size: 22px;
      color: $border-button-color;
    }
  }

  // .page__menu-list
  &__menu-list {
    pointer-events: none;

    position: fixed;
    z-index: 18;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    transition: all 0.3s ease-in-out;
  }

  // .page__header
  &__header {
    position: fixed;
    z-index: 17;
    top: 0;
    left: 0;

    width: 100%;

    background-color: hsl(0deg 0% 0% / 100%);
    background-image:
      radial-gradient(at 52% 40%, hsl(28deg 0% 0% / 100%) 0, transparent 50%),
      radial-gradient(at 14% 1%, hsl(220deg 86% 63% / 49%) 0, transparent 50%),
      radial-gradient(
        at 100% 100%,
        hsl(220deg 86% 63% / 29%) 0,
        transparent 50%
      );
  }

  // .page__main-content
  &__main-content {
    position: relative;
    z-index: 8;
    inset: 0;

    width: 100%;
    height: 100%;

    line-height: 125%; /* 15/12 */
  }
}

._bg-color {
  margin: 0;
  background: $font-color-title;

  @include screen-490 {
    margin: 16px 0;
  }
}

.main-content {
  // .main-content__section
  &__section {
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 100%;
    height: 100%;
  }

  &__footer {
    background-color: hsl(0deg 0% 0% / 100%);
    background-image:
      radial-gradient(at 52% 40%, hsl(28deg 0% 0% / 100%) 0, transparent 50%),
      radial-gradient(at 120% 1%, hsl(220deg 86% 63% / 49%) 0, transparent 50%),
      radial-gradient(at 52% 40%, hsl(28deg 0% 0% / 100%) 0, transparent 50%);
  }
}

//* - [ @keyframes Animations ] -

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
