@font-face {
  font-family: 'icon-set';
  src:  url('fonts/icon-set.eot?wcjc59');
  src:  url('fonts/icon-set.eot?wcjc59#iefix') format('embedded-opentype'),
    url('fonts/icon-set.ttf?wcjc59') format('truetype'),
    url('fonts/icon-set.woff?wcjc59') format('woff'),
    url('fonts/icon-set.svg?wcjc59#icon-set') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-set' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-outbound:before {
  content: "\e910";
}
.icon-youtube-lg:before {
  content: "\ea9d";
}
.icon-phone-call:before {
  content: "\e919";
}
.icon-sign-out:before {
  content: "\e916";
}
.icon-hand-shake:before {
  content: "\f2b6";
}
.icon-financial-system:before {
  content: "\e905";
}
.icon-management:before {
  content: "\e906";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-vk-brand:before {
  content: "\f189";
}
.icon-telegram-fly:before {
  content: "\e91b";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-minus:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e911";
}
.icon-published-changes:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e90f";
}
.icon-dzen:before {
  content: "\e93b";
}
