$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-phone-outbound: unquote('"\\e910"');
$icon-youtube-lg: unquote('"\\ea9d"');
$icon-phone-call: unquote('"\\e919"');
$icon-sign-out: unquote('"\\e916"');
$icon-hand-shake: unquote('"\\f2b6"');
$icon-financial-system: unquote('"\\e905"');
$icon-management: unquote('"\\e906"');
$icon-youtube-square: unquote('"\\f166"');
$icon-youtube: unquote('"\\f167"');
$icon-whatsapp: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-unlink: unquote('"\\f127"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-minus: unquote('"\\e908"');
$icon-plus: unquote('"\\e911"');
$icon-published-changes: unquote('"\\e907"');
$icon-check: unquote('"\\e90f"');
$icon-dzen: unquote('"\\e93b"');

