.footer._container#contacts
	.footer__body 
		.footer__header
			h2.footer__title.t-h1.el-item Контакты 
			.footer__network 
				.network
					.network__network-links 
						a(href="https://t.me/" target="_blank" aria-label="Телеграм").network__icon-link
							+iconfont('telegram-fly', '_icon')
						a(href="https://wa.me/" target="_blank" aria-label="WhatsApp").network__icon-link
							+iconfont('whatsapp', '_icon')
						a(href="https://vk/" target="_blank" aria-label="Контакт").network__icon-link
							+iconfont('vk-brand', '_icon')
		.footer__content 
			.footer__column
				.contacts.footer__contacts
					.contacts__column 
						.contacts__line
							.contacts__item._name 
								.contacts__title.t-h3 Сайт&nbsp;управляющего&nbsp;недвижимостью ООО"Центр&nbsp;развития&nbsp;инвестиций"
					.contacts__column 
						.contacts__line
							.contacts__item
								.contacts__title.t-h2 Почтовый адрес
								.contacts__text.t-text 249034,&nbsp;Россия,&nbsp;Калужская обл.,&nbsp;г.&nbsp;Обнинск,&nbsp;пр&#8209;кт&nbsp;Ленина&nbsp;121, оф.&nbsp;311, п/я&nbsp;№&nbsp;3
					.contacts__column 
						.contacts__line
							.contacts__item
								.contacts__title.t-h2 Телефон / Факс
									.contacts__text.t-text 8&nbsp;(800)&nbsp;234&#8209;55&#8209;44
									.contacts__text.t-text 8&nbsp;(953)&nbsp;323&#8209;00&#8209;00
								.contacts__text.t-text 
								.contacts__title.t-h2 Email 
								.contacts__text.t-text 
									a(href="mailto:info@crnii.ru") info@crnii.ru
	.footer__footer 
		._icon
			img(src="/img/icons/sd.png" alt="иконка")
		span Сайт разработан 
		a(href="https://sadovskiy.art/") Sadovskiy Design