.footer._container#contacts
	.footer__body 
		.footer__header
			h2.footer__title.t-h1.el-item Контакты 
			.footer__network 
				.network
					.network__network-links 
						a(href="https://t.me/" target="_blank" aria-label="Телеграм").network__icon-link
							+iconfont('telegram-fly', '_icon')
						a(href="https://wa.me/" target="_blank" aria-label="WhatsApp").network__icon-link
							+iconfont('whatsapp', '_icon')
						a(href="https://vk/" target="_blank" aria-label="Контакт").network__icon-link
							+iconfont('vk-brand', '_icon')
		.footer__content 
			.footer__column
				.contacts.footer__contacts
					.contacts__column 
						.contacts__line
							.contacts__item._name 
								.contacts__title.t-h3 ООО «ЦРИ»
								.contacts__text.t-text-14 “Профессиональный клининг офисов, производств и складов"
					.contacts__column 
						.contacts__line
							.contacts__item
								.contacts__title.t-h2 Почтовый адрес
								.contacts__text.t-text 249034,&nbsp;Россия,&nbsp;Калужская обл.,&nbsp;г. Обнинск, пр-кт Ленина, д. 121, оф. 311
					.contacts__column 
						.contacts__line
							.contacts__item
								.contacts__title.t-h2 Телефон / Факс
									.contacts__text.t-text 8 (800) 234-55-44
									.contacts__text.t-text +7 (980) 510-41-96
									.contacts__text.t-text +7 (953) 335-55-33  
								.contacts__title.t-h2 Email 
								.contacts__text.t-text 
									a(href="mailto:gen.dir@crnii.ru") gen.dir@crnii.ru
	.footer__footer 
		._icon
			img(src="/img/icons/sd.png" alt="иконка")
		span Сайт разработан 
		a(href="https://sadovskiy.art/") Sadovskiy Design